{
  "extends": [
	"eslint:recommended",
	"plugin:prettier/recommended"
  ],
  "plugins": [
	"prettier"
  ],
  "rules": {
	"prettier/prettier": "error",
	"no-return-await": "error"
  },
  "env": {
	"node": true,
	"es6": true
  },
  "parserOptions": {
	"ecmaVersion": 9
  }
}
